body{
    -webkit-font-smoothing:antialiased ;
}
/* fonts */
@font-face {
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-semiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}

/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}
/* Reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}
header.topbar{
    background: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-semiBold";
    padding: 0.75rem 0;
}

header.topbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.topbar .container .icons a{
   margin-right: 0.6rem;

}
header.topbar .container .auth{
    display: flex;
}

header.topbar .auth .divider{
    padding: 0 1rem;
}

header.topbar .auth > div a{
    color:var(--pure);
    text-decoration: none;
    font-family: "Raleway-semiBold";
}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}
nav .top{
    padding: 1.5rem 0;
}
nav .top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .top .contact{
    display: flex;
    /* justify-content: space-between; */
}
nav .top .contact h5,nav .top .time h5{
   font-family: "Raleway-black";
   margin-bottom: 0.25rem;
}
nav .top .contact h6,nav .top .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
    
 }
nav .top .time{
    display: flex;
    /* justify-content: space-between; */
}

nav .navbar .container{
    display: flex;
    justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semiBold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
    transition: all .3s ease;
    -webkit-transition: all .3s ease ;
    -moz-transition: all .3s ease ;
    -ms-transition: all .3s ease ;
    -o-transition: all .3s ease ;
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}

nav .top .contact img,nav .top .time img{
    margin-right: 1rem;
}
/* Utility Class */
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    position: absolute;
    bottom: -22px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

/* Responsive */
@media(min-width:576px){
    .container{
        max-width: 540px;

    }

}
@media(min-width:768px){
    .container{
        max-width: 720px;
        
    }

}
@media(min-width:992px){
    .container{
        max-width: 960px;
        
    }

}
@media(min-width:1200px){
    .container{
        max-width: 1152px;
        
    }

}
